body {
    box-sizing: border-box;
    margin: 30px;
    height: auto;
}

header {
    display: flex;
    align-items: center;
   justify-content: space-between;
}

ul {
    list-style: none;
    display: flex;
    font-family: 'Inter', sans-serif;
}

li {
    margin: 28px;
    color: #555555;
    
}

.signup{
    color: #FF3998
}